@{
    ViewData["Title"] = "Account Information";
}

<h1 class="text-primary">Account Information / Change Password</h1>
<hr />
<div class="alert alert-success alert-dismissible fade show">
    <h4 class="alert-heading"><i class="far fa-check-circle"></i> Success!</h4>
    <p>@ViewBag.Message</p>
    <hr>
    <p class="mb-0">Click 'Back to Account Information'.</p>
</div>

<div>
    <a asp-action="UserInfo">Back to Account Information</a>
</div>
