
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Forgot Password Confirmation</h1>

<p>Please check your email to reset your password.</p>

