@{
    ViewData["Title"] = "Confirm Registeration";
}

<h1 class="text-primary">Confirm Registeration</h1>

<p>A navigation link was sent sent to <strong>@ViewBag.Email</strong>. Please login and confirm.</p>