@{
    ViewData["Title"] = "Account Activated";
}

<h1 class="text-primary">Account Activated</h1>

<p>
    Thank you for confirming your email! You can now use EFCore MVC. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>
</p>

