
@{
    ViewData["Title"] = "ResetPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Reset Password Confirmation</h1>
<hr />

<p>
   Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>
</p>


