@{
    ViewData["Title"] = "500 Internal Server Error";
}

<h1 class="text-danger"><i class="fas fa-bug"></i> 500 Internal Server Error!</h1>
<hr />
<p>An error occured while processing your request. The support team is notified and are working on the fix. </p>
<p>
    Please contact supportteam@company.com
</p>

